<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento no compromisso.</p>
<p>
  <strong>Cliente: </strong> {{ user }}
  <br />
  <strong>Data/hora: </strong> {{ date }}
  <br />
  <small>
    O horário está novamente disponível.
  </small>
</p>
